.root {
	width: 500px;
	height: 70px;
	background-color: gray;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.pic {
	width: 60px;
	height: 60px;
	background-color: red;
	margin: 0 20px;
}

.info span {
	line-height: 25px;
	vertical-align: center;
	padding-left: 30px;
}

.name {
	display: block;
}

.email {
	display: block;
}

.menupart {
	width: 200px;
	height: 100%;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 20px;
	position: relative;
}

.dropdown {
	position: absolute;;
	background-color: gray;
	display: none;
}

.dropdownOpen {
	commposes: dropdown;
	display: block;
	position: absolute;
	background-color: gray;
}

.link {
	margin-left: 30px;
}

.link:after {
	content: "+";
	margin-left: 20px;
}
